// Global CSS
@import "shared/variables";
@import "shared/fonts";

body {
  overflow-x: hidden;
}
header {
  width: 100%;
}

.alertbox {
  background-color: $primary-red-color;
  border-radius: 0px;
  position: relative;
  p {
    letter-spacing: $primary-letter-spacing;
    font-size: 16px;
    font-weight: bold;
    color: white;

    a {
      font-size: 17px;
      color: white;
      text-decoration: underline;
    }
  }
  button {
    transition: all 0.3s;
    float: right;
    i {
      color: white;
      font-size: 22px;
      &:hover {
        color: white;
      }
    }
  }
}

#social-links-info {
  background-color: $primary-black-color;
  .contact-info {
    .contact-list {
      li {
        padding-left: 5px;
        a {
          color: white;
          font-family: $primary-font-family;
          i {
            vertical-align: middle;
            font-size: 17px;
          }
          span {
            font-size: 14px;
            letter-spacing: $primary-letter-spacing;
          }
          &:hover {
            color: $primary-orange-color;
          }
        }
      }
    }
  }
  .social-media {
    float: right;
    .social-links {
      li {
        padding-right: 22px;
        font-size: 13px;
        a,
        span,
        i {
          color: white;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            color: $primary-orange-color;
          }
        }
        a {
          text-decoration: none;
          &:hover {
            color: $primary-orange-color;
          }
        }
      }
    }
    .log-apply {
      position: relative;
      li {
        padding-right: 22px;
        font-size: 14px;
        a {
          color: white;
          font-family: $secondary-font-family;
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
        }
        button {
          color: white;
          font-family: $primary-font-family;
          font-size: 13px;
        }
      }
    }
    .log-apply::before {
      content: "";
      position: absolute;
      left: -64px;
      top: 6px;
      height: 24px;
      width: 1px;
      background-color: #eee;
    }
  }
}

.navbar {
  .collapse {
    margin: 10px 10px;
    ul {
      li {
        padding-right: 6px;
        a {
          letter-spacing: $primary-letter-spacing;
          font-family: $primary-font-family;
          font-size: 14px;
          background-color: white;
          font-weight: bold;
          color: $secondary-black-color;
          position: relative;
        }
        a.active {
          color: $primary-orange-color;
        }
        a:hover {
          color: $primary-orange-color;
          transition: all 0.5s;
        }
        i {
          position: absolute;
          top: 12px;
          cursor: pointer;
        }
      }
      li.nav-search {
        float: right;
        .dropdown-menu {
          border-radius: none !important;
          height: 78px;
          left: 327px;
          top: 62px;
          .search-input {
            width: 300px;
            padding-left: 24px;
            i.new2 {
              position: absolute;
              font-size: 25px;
              right: 40px;
              top: 26px;
            }
            input {
              height: 50px;
              width: 250px;
              margin-top: 5px;
            }
          }
        }
      }
    }
    .navbar-nav {
      .dropdown-menu {
        a.active {
          color: $primary-orange-color;
        }
      }
    }
  }
}

#main-slider {
  position: relative;
  padding: 0 !important;
  #carouselExampleControls {
    .slider-item {
      text-align: center;
      color: white;
      position: absolute;
      left: 355px;
      top: 330px;
      bottom: 100px;
      z-index: 1;
      font-family: $secondary-font-family;
      h1 {
        font-size: 50px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
      }
      button {
        color: white;
        margin: 10px;
        font-weight: bold;
      }
      button.learn-btn {
        border: 2px solid white;
        height: 43px;
        width: 135px;
        transition: all 0.5s;
        &:hover {
          background-color: white;
          color: $primary-orange-color;
        }
      }
    }
    .btn-start {
      height: 43px;
      width: 135px;
    }
  }
  .carousel-inner {
    .carousel-item {
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      color: white;

      .main-slider-overlay {
        height: 100%;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.5;
      }
    }
  }
}

#why-choose-eduglobal {
  .eduglobal-title {
    padding-bottom: $title-padding-bottom;
  }
  background-color: #f7f7f7;
  font-family: $secondary-font-family;
  padding-bottom: 80px;
  .eduglobal-items {
    display: flex;
    .eduglobal-item {
      text-align: center;
      border-radius: 3%;
      background-color: white;
      padding: 27px;
      transition: all 0.7s;
      .boxes::before {
        position: absolute;
        content: " ";
        height: 113px;
        width: 114px;
        border: 3.5px solid white;
        border-radius: 50%;
        top: -6.5px;
        right: -7.5px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        transform: translateY(-10px);
        .boxes::before {
          transform: scale(0.8);
        }
      }
      h5 {
        font-weight: bold;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
      }

      .book-box,
      .globe-box,
      .instructor-box {
        border-radius: 50%;
        display: inline-block;
        padding: 24px;
        position: relative;
        height: 100px;
        width: 100px;
        text-align: center;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .book-box {
        background-color: $primary-red-color;
      }
      .globe-box {
        background-color: $primary-orange-color;
      }
      .instructor-box {
        background-color: $primary-green-color;
      }
    }
  }
}

#popular-categories {
  .popular-categories-title {
    padding-bottom: $title-padding-bottom;
  }
  a {
    text-decoration: none;
    width: 175px !important;
    margin-right: 5px;
  }
  .popular-item {
    height: 120px;

    border-radius: 5px;

    .item-content {
      text-align: center;
      color: white;
      padding: 20px;
      margin: 8px;
      i {
        font-size: 30px;
        margin-bottom: 8px;
      }
      p {
        font-family: $secondary-font-family;
        font-size: $primary-font-size;
      }
    }
  }
}

.item1 {
  background-color: ($primary-red-color);
}
.item2 {
  background-color: darken($primary-green-color, 6);
}
.item3 {
  background-color: (#ffbc09);
}
.item4 {
  background-color: (#f94fa4);
}
.item5 {
  background-color: (#38ddf7);
}
.item6 {
  background-color: (#f89035);
}

#about-us {
  font-family: $secondary-font-family;
  margin-top: $space-between-sections;
  .about-us-content {
    z-index: 2;
    border-radius: 0px 200px 200px 0px;
    padding: 43px;
    position: absolute;
    top: 28px;
    margin-right: -60px;
    background-color: white !important;
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175) !important;
    h2 {
      font-weight: bold;
    }
    p {
      color: $primary-gray-color;
    }
    .counter {
      margin-top: 5px;
      font-family: $secondary-font-family;
      ul {
        li {
          padding-right: 20px;
          h6 {
            font-weight: bold;
            font-size: $primary-font-size;
            color: $secondary-black-color;
          }
        }
        li.list-item1 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-red-color;
          }
        }
        li.list-item2 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-green-color;
          }
        }
      }
    }
  }
  .about-us-image {
    height: 100%;
    width: 100%;
    position: relative;
    .play-circle {
      border-radius: 50%;
      background-color: $primary-orange-color;
      color: white;
      position: absolute;
      font-size: 55px;
      top: 47%;
      left: 48%;
      cursor: pointer;
    }
    .img-overlay {
      height: 100%;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.3;
    }
  }
}

#our-courses {
  font-family: $secondary-font-family;
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 22rem;
    margin-top: 30px;
    border-radius: $card-radius !important;
    // margin-top: 20px;
    .content-image {
      overflow: hidden;
      border-top-left-radius: $card-radius !important;
      border-top-right-radius: $card-radius !important;
      a {
        img {
          border-top-left-radius: $card-radius !important;
          border-top-right-radius: $card-radius !important;
          transition: all 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .card-body {
      padding: $card-padding;
      a {
        font-weight: bold;
        font-size: 18px;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
      }
    }
    .card-body-footer {
      padding: 0px 17px;
      justify-content: space-between;
      .review-stars {
        li {
          padding-right: 5px;
          i {
            color: $primary-orange-color;
            font-size: $course-icon-size;
          }
        }
      }
      .share-and-comment {
        float: right;
        li {
          padding-left: 12px;
          a {
            i {
              font-size: 14px;
            }
            span {
              font-size: 15px;
            }
          }
        }
      }
    }

    .card-footer {
      padding: 11px 18px 0px 18px;
      // background-color: white;
      background-color: rgba(0, 0, 0, 0.03) !important;
      justify-content: space-between;
      border-bottom-left-radius: $card-radius !important;
      border-bottom-right-radius: $card-radius !important;

      .teacher {
        align-items: center;
        li {
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
      }
      .course-price {
        .free-btn {
          height: 37px;
          width: 62px;
          text-decoration: none;
          cursor: unset;
          background-color: $free-button-color;
          border: 1px solid $free-border-color;
          border-radius: 0.25rem;
          color: #155724;
        }
        .price-btn {
          height: 37px;
          width: 59px;
          text-decoration: none;
          cursor: unset;
          background-color: $price-button-color;
          border: 1px solid $price-border-color;
          border-radius: 0.25rem;
          color: #155724;
        }
      }
    }
  }
  .btn-view-courses {
    align-items: center;
    margin-top: 30px;
    background-color: #ffbc09;
    .btn-view-content {
      margin: 5px 17px;
      span {
        color: white;
        font-size: 17px;
      }
      i {
        vertical-align: middle;
        font-size: 16px;
      }
    }

    color: white;
  }
}

#bottom-counter {
  margin-top: $space-between-sections;
  background-image: url("../img/counter_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-position-y: 58%;
  background-size: cover;
  width: 100%;
  height: 100%;
  .overlay {
    background-color: rgba(7, 41, 77, 0.7);
  }
  .item-content {
    margin: 90px 0px;
    color: white;
    padding: 11px 26px 0px 26px;
    h3 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.5;
    }
    span {
      color: white;
      font-family: $secondary-font-family;
    }
    .value {
      justify-content: center;
    }
    .key {
      font-size: 17px;
      font-family: $third-font-family;
    }
  }
}

#upcoming-events {
  .upcoming-title {
    padding-bottom: $title-padding-bottom;
  }
  .card {
    font-family: $secondary-font-family;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 22rem;
    border-radius: $card-radius !important;
    position: relative;
    .content-image {
      overflow: hidden;
      border-top-left-radius: $card-radius !important;
      border-top-right-radius: $card-radius !important;
      a {
        img {
          border-top-left-radius: $card-radius !important;
          border-top-right-radius: $card-radius !important;
          transition: all 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .image-badge {
        height: 80px;
        width: 75px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: white;
        .badge-date {
          h5 {
            font-weight: bold;
            font-size: 14px;
            padding: 10px 18px 0px 24px;
            span {
              font-weight: bold;
              font-size: 24px;
            }
          }
        }
        .badge-time {
          text-align: center;
          background-color: $primary-orange-color;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          font-family: $secondary-font-family;
          ul {
            padding: 6px;
            li {
              font-size: 14px;
              color: white;
              font-family: $primary-font-family;
            }
          }
        }
      }
    }
    .card-body {
      padding: 8px 20px 0px 20px;
      ul {
        padding-top: 7px;
        li {
          padding-right: 17px;
          a.li-yellow {
            text-decoration: none;
            color: $primary-orange-color;
            font-size: 14px;
          }
        }
        i {
          padding-right: 7px;
        }
      }

      a.card-title {
        font-weight: bold;
        font-size: 18px;
      }
    }
    hr {
      margin: -7px 20px 0px 20px;
    }
    p {
      color: $primary-gray-color;
      font-size: $primary-font-size;
      padding: $card-padding;
    }
  }
}

#get-free-courses {
  margin-top: $space-between-sections;
  background-image: url("../img/pattern_bg.png");
  background-color: #07294d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .free-course-items {
    padding-top: 96px;
    .register {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: $card-radius;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 42px 58px;

      h2 {
        font-family: $secondary-font-family;
        color: white;
        font-weight: bold;
        span {
          color: #ffbc09;
        }
      }
      p {
        color: $primary-gray-color;
        font-family: $third-font-family;
        margin-top: 15px;
        color: white;
      }
      form {
        .form-group {
          .form-control {
            height: 47px;
            padding: 10px 20px;
            background-color: transparent;
            border-color: #fff;
            font-family: $third-font-family;
            font-size: 17px;
            height: auto;
            color: white;
          }
          ::placeholder {
            color: white;
          }
          select.form-control {
            ::placeholder {
              color: white !important;
            }
          }
        }
        button {
          color: white;
          padding: 10px 32px;
          font-size: 18px;
          font-family: $third-font-family;
        }
      }
    }
  }
}

#our-gallery {
  .galery-title {
    padding-bottom: $title-padding-bottom;
  }
  .portfolio-menu {
    text-align: center;
  }
  .galery-buttons {
    display: flex;
    li {
      margin-right: 10px;
      button {
        padding: 5px 25px;
        border-radius: 4px;
        font-family: $third-font-family;
        color: $secondary-black-color;
        background-color: #eee;
        &:hover {
          color: white;
          background-color: $secondary-orange-color;
          transition: all 0.5s;
        }
      }
      button.active {
        color: white;
        background-color: $secondary-orange-color;
      }
    }
  }
  .portfolio-item {
    width: 100%;
    .item {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
      img {
        border-radius: 10px;
      }
    }
  }
}

#our-teachers {
  margin-top: $space-between-sections;

  padding: 100px 0;
  width: 100%;
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  &::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(7, 41, 77, 0.9);
  }
  .teachers-overlay {
    position: absolute;
    background-image: url("../img/teacher_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1309px;
    height: 854px;
    transform: translate3d(0px, -147.125px, 0px);
    z-index: -1;
  }
  .teachers-title {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: $secondary-font-family;
    p {
      margin-top: 15px;
    }
  }
  .card {
    border: none;
    border-radius: $card-radius;
    img {
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;
    }
    .main-slider-overlay {
      overflow: hidden;
      transition: 0.5s;
      ul {
        position: absolute;
      }
    }
  }

  .card:hover {
    .main-slider-overlay {
      height: 256px;
      width: 256px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;
      ul {
        position: absolute;
        left: 55px;
        transition: 0.8s ease;
        li {
          padding-right: 28px;
          a {
            text-decoration: none;
            i {
              color: white;
              transition: all 0.3s;
              &:hover {
                color: $primary-orange-color;
              }
            }
          }
        }
      }
    }
  }

  .card-body {
    text-align: center;
    padding: 10px;
    h5 {
      font-weight: bold;
    }
    p {
      font-family: $third-font-family;
      font-size: 17px;
      color: #888888;
    }
  }
}

#student-say {
  margin-bottom: $space-between-sections;
  .student-say-title {
    padding-bottom: $title-padding-bottom;
  }
  .client {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: $card-radius;
    width: 470px !important;
    height: 213px !important;
    margin: 5px 0px 5px 55px;

    .item-content {
      padding: 30px 20px 30px 50px;
      position: relative;
      .user-info {
        padding-left: 20px;
        i {
          position: absolute;
          right: 40px;
          top: 0;
          font-size: 190px;
          font-weight: 900;
          z-index: -1;
          color: rgba(0, 0, 0, 0.021);
        }
      }
      img {
        position: absolute;
        margin-left: -100px;
        border-radius: 5px;
      }
      h6 {
        font-family: $secondary-font-family;
        font-weight: bold;
      }
      span {
        font-style: italic;
        color: $secondary-orange-color;
      }
      p {
        margin-top: 5px;
        color: $primary-gray-color;
      }
    }
  }
}

#our-blog {
  background-color: #f7f7f7;
  .our-blog-title {
    padding-bottom: $title-padding-bottom;
  }
  .card {
    font-family: $secondary-font-family;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 22rem;
    border-radius: $card-radius !important;
    position: relative;
    .content-image {
      overflow: hidden;
      a {
        img {
          border-top-left-radius: $card-radius !important;
          border-top-right-radius: $card-radius !important;
        }
      }
    }
    .blog-overlay {
      overflow: hidden;
      transition: 0.5s;
      ul {
        position: absolute;
      }
    }
    .card-body {
      padding: 15px;
      a.card-title {
        font-weight: bold;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
        margin-top: 7px;
      }
    }
    .card-footer {
      background-color: white;
      padding: 8px 20px 0px 20px;
      border-bottom-left-radius: $card-radius !important;
      border-bottom-right-radius: $card-radius !important;
      ul {
        padding-top: 7px;
        li {
          padding-right: 17px;
          a {
            font-size: 14px;
          }
          i {
            padding-right: 7px;
          }
          i.i-yellow {
            color: $primary-orange-color;
          }
        }
      }

      a.card-title {
        font-weight: bold;
        font-size: 18px;
      }
    }
    hr {
      margin: -7px 20px 0px 20px;
    }
  }
  .card:hover {
    .blog-overlay {
      height: 233px;
      width: 350px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      border-top-left-radius: $card-radius;
      border-top-right-radius: $card-radius;
      ul {
        position: absolute;
        left: 150px;
        top: 240px;
        transition: 0.8s ease;
        li {
          height: 50px;
          width: 50px;
          background-color: white;
          border-radius: 50%;
          a {
            text-decoration: none;

            i {
              font-size: 18px;
              padding: 17px 0px 0px 16px;
            }
            color: $primary-orange-color;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  .btn-view-blog {
    align-items: center;
    margin-top: 50px;
    margin-bottom: $space-between-sections;
    background-color: #ffbc09;
    .btn-blog-content {
      margin: 5px 17px;
      span {
        color: white;
        font-size: 17px;
      }
      i {
        vertical-align: middle;
        font-size: 16px;
      }
    }

    color: white;
  }
}

#our-client {
  .our-clients-title {
    padding-bottom: $title-padding-bottom;
  }
  .clients-slider {
    text-align: center;
    .item-content {
      margin-right: 10px !important;
      img {
        height: 90px;
        width: 150px;
      }
    }
  }
}

#footer-1 {
  background-color: $primary-orange-color;
  .footer-1-items {
    align-items: center;
    margin-top: 80px;
    color: white;
    h2 {
      font-family: $secondary-font-family;
    }
    p {
      margin-top: 15px;
    }
    .btn-view-blog {
      float: right;
      border: 2px solid white;
      border-radius: 3px;
      color: white;
      height: 47px;
      width: 145px;
      font-size: 17px;
      transition: all 0.3s;
      z-index: 1;
      &:hover {
        color: $primary-orange-color;
        background-color: white;
      }
    }
  }
}

#footer-2 {
  background-color: $primary-black-color;
  color: white;
  .footer-2-items {
    padding: 90px 0px 90px 0px;
    font-family: $third-font-family;
    h5 {
      padding-bottom: 12px;
    }
    .footer-logo {
      padding-bottom: 12px;
    }
    li {
      padding-bottom: 14px;
      font-family: $third-font-family;

      a.changable {
        color: white;
        text-decoration: none;
        transition: all 0.3s;
        position: absolute;
        &:hover {
          transition: all 0.3s;
          color: $primary-orange-color;
          position: absolute;
          transform: translateX(5px);
        }
      }
      a {
        color: white;
        font-family: $third-font-family;
        i {
          vertical-align: middle;
          font-size: 17px;
        }
        span {
          font-size: 15px;
          letter-spacing: $primary-letter-spacing;
        }
        &:hover {
          color: $primary-orange-color;
        }
      }
    }
    li.changable {
      padding-bottom: 35px;
    }
    form {
      position: relative;
      input {
        height: 50px;
        position: absolute;
      }
      button {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 100px;
        color: white;
      }
    }
    .follow {
      position: absolute;
      top: 180px;
      li {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        width: 35px;
        height: 35px;
        margin-right: 7px;
        cursor: pointer;
        &:hover {
          i {
            color: $primary-orange-color;
          }
        }
        i {
          transition: all 0.3s;
          margin: 11px;
          font-size: 14px;
        }
      }
    }
  }

  .post {
    width: 255px;
    height: 60px;
    .post-content {
      align-items: center;
      padding-left: 10px;
      a {
        text-decoration: none;
        transition: all 0.3s;
      }
      h6 {
        font-size: 14px;
        &:hover {
          color: $primary-orange-color;
        }
      }
      span {
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
      }
    }
  }
}

#footer-3 {
  font-family: $third-font-family;
  font-size: 15px;
  background-color: #202325;
  p {
    color: white;
  }
  ul {
    float: right;
    li {
      margin-right: 10px;
      a {
        text-decoration: none;
        color: white;
        transition: all 0.3s;
        &:hover {
          color: $primary-orange-color;
        }
      }
    }
  }
}
a.animated {
  text-decoration: none;
  color: $secondary-black-color;
  transition: all 0.3s;
  &:hover {
    color: $primary-orange-color;
  }
}

.title-style {
  text-align: center;
  margin-top: 80px;
  h2 {
    font-family: $secondary-font-family;
  }
  p {
    color: $primary-gray-color;
    margin-top: 15px;
  }
}

//PAGE ABOUT US

#about-us-sec {
  .img-fon{
    height: 20px;
  }
 
}
