//Colors
$primary-red-color : #F6475F;
$primary-black-color : #343a40 ;
$primary-orange-color: #ffc107;
$primary-green-color: #B3D369;


//Fonts
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;


