//Colors
$primary-red-color : #f6475f;
$primary-black-color : #343a40 ;
$secondary-black-color : #292b2c;
$primary-orange-color: #ffc107;
$primary-green-color: #B3D369;
$primary-gray-color: #888888f2;



//Fonts
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;

$primary-font-size : 16px;


