//Colors
$primary-red-color : #f6475f;
$primary-black-color : #343a40 ;
$secondary-black-color : #292b2c;
$primary-orange-color: #ffc107;
$secondary-orange-color: #ffbc09;
$primary-green-color: #B3D369;
$primary-gray-color: #888888f2;

$free-button-color: #d4edda;
$free-border-color: #c3e6cb;
$price-button-color:#d1ecf1;
$price-border-color:#bee5eb;



//Fonts
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;
$third-font-family: 'Roboto Condensed', sans-serif;

$primary-font-size : 16px;
$course-icon-size : 13px;

//Padding
$card-padding: 12px 17px;


//Margin
$space-between-sections: 80px;

