@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"');
.alertbox {
  background-color: #f6475f;
  border-radius: 0%;
  position: relative;
}

.alertbox p {
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.alertbox p a {
  font-size: 17px;
  color: white;
  text-decoration: underline;
}

.alertbox button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
}

.alertbox button i {
  color: white;
  font-size: 22px;
}

.alertbox button i:hover {
  color: white;
}

#social-links-info {
  background-color: #343a40;
}

#social-links-info .contact-info .contact-list li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.5px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#social-links-info .contact-info .contact-list li a:hover {
  color: #ffc107;
}

#social-links-info .contact-info .contact-list li a i {
  color: white;
}

#social-links-info .social-media {
  float: right;
}

#social-links-info .social-media .social-links li {
  padding-right: 22px;
  font-size: 13px;
}

#social-links-info .social-media .social-links li a,
#social-links-info .social-media .social-links li span,
#social-links-info .social-media .social-links li i {
  color: white;
}

#social-links-info .social-media .social-links li i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#social-links-info .social-media .social-links li i:hover {
  color: #ffc107;
}

#social-links-info .social-media .log-apply {
  position: relative;
}

#social-links-info .social-media .log-apply li {
  padding-right: 22px;
  font-size: 14px;
}

#social-links-info .social-media .log-apply li a {
  color: white;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#social-links-info .social-media .log-apply li a:hover {
  color: #ffc107;
}

#social-links-info .social-media .log-apply li button {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

#social-links-info .social-media .log-apply::before {
  content: "";
  position: absolute;
  left: -64px;
  top: 6px;
  height: 24px;
  width: 1px;
  background-color: #eee;
}

.navbar .collapse {
  margin: 10px 10px;
}

.navbar .collapse ul li {
  padding-right: 6px;
}

.navbar .collapse ul li a {
  letter-spacing: -0.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: white;
  font-weight: bold;
  color: #292b2c;
  position: relative;
}

.navbar .collapse ul li a.active {
  color: #ffc107;
}

.navbar .collapse ul li a:hover {
  color: #ffc107;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .collapse ul li i {
  position: absolute;
  top: 12px;
  cursor: pointer;
}

.navbar .collapse ul li.nav-search {
  float: right;
}

#main-slider {
  position: relative;
  padding: 0 !important;
}

#main-slider #carouselExampleControls .carousel-inner .carousel-item .main-slider-overlay {
  height: 517px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

#why-choose-eduglobal {
  background-color: #f7f7f7;
  font-family: "Rubik", sans-serif;
  height: 650px;
}

#why-choose-eduglobal .eduglobal-title {
  text-align: center;
}

#why-choose-eduglobal .eduglobal-title h3 {
  margin-top: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

#why-choose-eduglobal .eduglobal-title p {
  color: #888888f2;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#why-choose-eduglobal .eduglobal-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item {
  text-align: center;
  border-radius: 3%;
  background-color: white;
  margin-top: 30px;
  padding: 27px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item:hover .boxes::before {
  position: absolute;
  content: " ";
  height: 90px;
  width: 90px;
  border: 3px solid white;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item h5 {
  font-weight: bold;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item p {
  color: #888888f2;
  font-size: 16px;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item .book-box,
#why-choose-eduglobal .eduglobal-items .eduglobal-item .globe-box,
#why-choose-eduglobal .eduglobal-items .eduglobal-item .instructor-box {
  border-radius: 100%;
  display: inline-block;
  padding: 24px;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item .book-box img,
#why-choose-eduglobal .eduglobal-items .eduglobal-item .globe-box img,
#why-choose-eduglobal .eduglobal-items .eduglobal-item .instructor-box img {
  height: 50px;
  width: 50px;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item .book-box {
  background-color: #f6475f;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item .globe-box {
  background-color: #ffc107;
}

#why-choose-eduglobal .eduglobal-items .eduglobal-item .instructor-box {
  background-color: #B3D369;
}

#popular-categories .popular-categories-title {
  margin-top: 100px;
  margin-bottom: 30px;
}

#popular-categories .popular-categories-title h2 {
  font-family: "Rubik", sans-serif;
}

#popular-categories .popular-categories-title p {
  color: #888888f2;
  margin-top: 15px;
}

#popular-categories .popular-items .popular-item {
  height: 120px;
  width: 170px;
  border-radius: 5px;
  margin-left: 16px;
}

#popular-categories .popular-items .popular-item .item-content {
  text-align: center;
  color: white;
  padding: 32px;
}

#popular-categories .popular-items .popular-item .item-content i {
  font-size: 30px;
  margin-bottom: 8px;
}

#popular-categories .popular-items .popular-item .item-content p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.item1 {
  background-color: #f6475f;
}

.item2 {
  background-color: #a7cc51;
}

.item3 {
  background-color: #ffbc09;
}

.item4 {
  background-color: #f94fa4;
}

.item5 {
  background-color: #38ddf7;
}

.item6 {
  background-color: #f89035;
}

#about-us {
  font-family: "Rubik", sans-serif;
  margin-top: 50px;
}

#about-us .about-us-content {
  z-index: 2;
  position: absolute;
  top: 50px;
  height: 410px;
  width: 870px;
  border-radius: 0px 200px 200px 0px;
  padding: 75px;
  background-color: white;
  -webkit-box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175) !important;
}

#about-us .about-us-content h2 {
  font-weight: bold;
}

#about-us .about-us-content p {
  color: #888888f2;
}

#about-us .about-us-content .counter {
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
}

#about-us .about-us-content .counter ul li {
  padding: 17px;
}

#about-us .about-us-content .counter ul li h6 {
  font-weight: bold;
  font-size: 16px;
  color: #292b2c;
}

#about-us .about-us-content .counter ul li.list-item1 span {
  font-size: 40px;
  font-weight: bold;
  color: #f6475f;
}

#about-us .about-us-content .counter ul li.list-item2 span {
  font-size: 40px;
  font-weight: bold;
  color: #B3D369;
}

.about-us-image {
  height: 100%;
  width: 100%;
  position: relative;
}

.about-us-image .img-overlay {
  height: 517px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
}

.about-us-image .img-overlay .play-circle {
  border-radius: 50%;
  background-color: #ffc107;
  color: white;
  position: absolute;
  font-size: 53px;
  top: 50%;
  left: 50%;
}
/*# sourceMappingURL=style.css.map */