// Global CSS
@import "shared/variables";
// @import "shared/mixings";
@import "shared/fonts";

// Components
// @import "components/header";
// @import "components/footer";

// Pages
// @import "pages/index";

// * {
//   box-sizing: border-box;
//   margin: 0 auto;
// }

.alertbox {
  background-color: $primary-red-color;
  border-radius: 0%;
  position: relative;
  p {
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: bold;
    color: white;

    a {
      font-size: 17px;
      color: white;
      text-decoration: underline;
    }
  }
  button {
    transition: all 0.3s;
    float: right;
    i {
      color: white;
      font-size: 22px;
      &:hover {
        color: white;
      }
    }
  }
}

#social-links-info {
  background-color: $primary-black-color;
  .contact-info {
    .contact-list {
      li {
        a {
          text-decoration: none;
          font-family: $primary-font-family;
          letter-spacing: -0.5px;
          color: white;
          font-size: 14px;
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
          i {
            color: white;
          }
        }
      }
    }
  }
  .social-media {
    float: right;
    .social-links {
      li {
        padding-right: 22px;
        font-size: 13px;
        a,
        span,
        i {
          color: white;
        }
        i {
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
        }
      }
    }
    .log-apply {
      position: relative;
      li {
        padding-right: 22px;
        font-size: 14px;
        a {
          color: white;
          font-family: $secondary-font-family;
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
        }
        button {
          color: white;
          font-family: $primary-font-family;
          font-size: 13px;
        }
      }
    }
    .log-apply::before {
      content: "";
      position: absolute;
      left: -64px;
      top: 6px;
      height: 24px;
      width: 1px;
      background-color: #eee;
    }
  }
}

.navbar {
  .collapse {
    margin: 10px 10px;
    ul {
      li {
        padding-right: 6px;

        a {
          letter-spacing: -0.5px;
          font-family: $primary-font-family;
          font-size: 15px;
          background-color: white;
          font-weight: bold;
          color: $secondary-black-color;
          position: relative;
        }
        a.active {
          color: $primary-orange-color;
        }
        a:hover {
          color: $primary-orange-color;
          transition: all 0.5s;
        }
        i {
          position: absolute;
          top: 12px;
          cursor: pointer;
        }
      }
      li.nav-search {
        float: right;
        .dropdown-menu {
        }
      }
    }
  }
}

#main-slider {
  position: relative;
  padding: 0 !important;
  #carouselExampleControls {
    .carousel-inner {
      .carousel-item {
        .main-slider-overlay{
          height: 517px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;

        }
      }
    }
  }
}

#why-choose-eduglobal {
  background-color: #f7f7f7;
  font-family: $secondary-font-family;
  height: 650px;
  .eduglobal-title {
    text-align: center;
    h3 {
      margin-top: 50px;
      font-family: $secondary-font-family;
      font-weight: bold;
    }
    p {
      color: $primary-gray-color;
      font-weight: 500;
      font-family: $primary-font-family;
      font-size: $primary-font-size;
    }
  }
  .eduglobal-items {
    display: flex;
    .eduglobal-item {
      text-align: center;
      border-radius: 3%;
      background-color: white;
      margin-top: 30px;
      padding: 27px;
      transition: all 0.7s;

      &:hover {
        transform: translateY(-10px);
        .boxes::before {
          position: absolute;
          content: " ";
          height: 90px;
          width: 90px;
          border: 3px solid white;
          border-radius: 50%;
          top: 5px;
          right: 5px;
        }
      }
      h5 {
        font-weight: bold;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
      }

      .book-box,
      .globe-box,
      .instructor-box {
        border-radius: 100%;
        display: inline-block;
        padding: 24px;
        position: relative;
        height: 100px;
        width: 100px;
        text-align: center;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .book-box {
        background-color: $primary-red-color;
      }
      .globe-box {
        background-color: $primary-orange-color;
      }
      .instructor-box {
        background-color: $primary-green-color;
      }
    }
  }
}

#popular-categories {
  .popular-categories-title {
    margin-top: 100px;
    margin-bottom: 30px;
    h2 {
      font-family: $secondary-font-family;
    }
    p {
      color: $primary-gray-color;
      margin-top: 15px;
    }
  }
  .popular-items {
    .popular-item {
      height: 120px;
      width: 170px;
      border-radius: 5px;
      margin-left: 16px;
      .item-content {
        text-align: center;
        color: white;
        padding: 32px;
        i {
          font-size: 30px;
          margin-bottom: 8px;
        }
        p {
          font-family: $secondary-font-family;
          font-size: 16px;
        }
      }
    }
  }
}

.item1 {
  background-color: ($primary-red-color);
}
.item2 {
  background-color: darken($primary-green-color, 6);
}
.item3 {
  background-color: (#ffbc09);
}
.item4 {
  background-color: (#f94fa4);
}
.item5 {
  background-color: (#38ddf7);
}
.item6 {
  background-color: (#f89035);
}

#about-us {
  font-family: $secondary-font-family;
  margin-top: 50px;
  .about-us-content {
    z-index: 2;
    position: absolute;
    top: 50px;
    height: 410px;
    width: 870px;
    border-radius: 0px 200px 200px 0px;
    padding: 75px;
    background-color: white;
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175) !important;

    h2 {
      font-weight: bold;
    }
    p {
      color: $primary-gray-color;
    }
    .counter {
      margin-top: 10px;
      font-family: $secondary-font-family;
      ul {
        li{
          padding: 17px;
          h6{
            font-weight: bold;
            font-size: 16px;
            color: $secondary-black-color;
          }
        }
        li.list-item1 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-red-color;
          }
        }
        li.list-item2 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-green-color;
          }
        }
      }
    }
  }
}

.about-us-image {
  height: 100%;
  width: 100%;
  position: relative;

  .img-overlay {
    height: 517px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    .play-circle {
      border-radius: 50%;
      background-color: $primary-orange-color;
      color: white;
      position: absolute;
      font-size: 53px;
      top: 50%;
      left: 50%;
    }
  }
}
