// Global CSS
@import "shared/variables";
// @import "shared/mixings";
@import "shared/fonts";

// Components
// @import "components/header";
// @import "components/footer";

// Pages
// @import "pages/index";

// * {
//   box-sizing: border-box;
//   margin: 0 auto;
// }

.alertbox {
  background-color: $primary-red-color;
  border-radius: 0%;
  position: relative;
  p {
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: bold;
    color: white;

    a {
      font-size: 17px;
      color: white;
      text-decoration: underline;
    }
  }
  button {
    transition: all 0.3s;
    float: right;
    i {
      color: white;
      font-size: 22px;
      &:hover {
        color: white;
      }
    }
  }
}

#social-links-info {
  background-color: $primary-black-color;
  .contact-info {
    .contact-list {
      li {
        padding-left: 5px;
        a {
          color: white;
          font-family: $primary-font-family;
          i {
            vertical-align: middle;
            font-size: 17px;
          }
          span {
            font-size: 14px;
            letter-spacing: -0.5px;
          }
          &:hover {
            color: $primary-orange-color;
          }
        }
      }
      // li {
      //   font-family: $secondary-font-family;
      //   a {
      //     text-decoration: none;
      //     font-family: $primary-font-family;
      //     letter-spacing: -0.5px;
      //     color: white;
      //     font-size: 14px;
      //     transition: all 0.3s;
      //     &:hover {
      //       color: $primary-orange-color;
      //     i {
      //       color: white;
      //     }
      //     span {
      //       font-size: 14px;
      //     }
      //     }

      //   }
      // }
    }
  }
  .social-media {
    float: right;
    .social-links {
      li {
        padding-right: 22px;
        font-size: 13px;
        a,
        span,
        i {
          color: white;
        }
        i {
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
        }
        a {
          text-decoration: none;
          &:hover {
            color: $primary-orange-color;
          }
        }
      }
    }
    .log-apply {
      position: relative;
      li {
        padding-right: 22px;
        font-size: 14px;
        a {
          color: white;
          font-family: $secondary-font-family;
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: $primary-orange-color;
          }
        }
        button {
          color: white;
          font-family: $primary-font-family;
          font-size: 13px;
        }
      }
    }
    .log-apply::before {
      content: "";
      position: absolute;
      left: -64px;
      top: 6px;
      height: 24px;
      width: 1px;
      background-color: #eee;
    }
  }
}

.navbar {
  .collapse {
    margin: 10px 10px;
    ul {
      li {
        padding-right: 6px;

        a {
          letter-spacing: -0.5px;
          font-family: $primary-font-family;
          font-size: 15px;
          background-color: white;
          font-weight: bold;
          color: $secondary-black-color;
          position: relative;
        }
        a.active {
          color: $primary-orange-color;
        }
        a:hover {
          color: $primary-orange-color;
          transition: all 0.5s;
        }
        i {
          position: absolute;
          top: 12px;
          cursor: pointer;
        }
      }
      li.nav-search {
        float: right;
        .dropdown-menu {
        }
      }
    }
  }
}

#main-slider {
  position: relative;
  padding: 0 !important;
  #carouselExampleControls {
    .carousel-inner {
      .carousel-item {
        height: 100%;
        width: 100%;
        position: relative;

        .main-slider-overlay {
          height: 100%;
          width: 100%;
          background-color: black;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0.5;
        }
      }
    }
  }
}

#why-choose-eduglobal {
  padding: 100px 0;
  background-color: #f7f7f7;
  font-family: $secondary-font-family;
  .eduglobal-title {
    text-align: center;
    h3 {
      font-family: $secondary-font-family;
      font-weight: bold;
    }
    p {
      color: $primary-gray-color;
      font-weight: 500;
      font-family: $primary-font-family;
      font-size: $primary-font-size;
    }
  }
  .eduglobal-items {
    display: flex;
    .eduglobal-item {
      text-align: center;
      border-radius: 3%;
      background-color: white;
      margin-top: 30px;
      padding: 27px;
      transition: all 0.7s;
      .boxes::before {
        position: absolute;
        content: " ";
        height: 113px;
        width: 114px;
        border: 3.5px solid white;
        border-radius: 50%;
        top: -5.5px;
        right: -7.5px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        transform: translateY(-10px);
        .boxes::before {
          transform: scale(0.8);
        }
      }

      h5 {
        font-weight: bold;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
      }

      .book-box,
      .globe-box,
      .instructor-box {
        border-radius: 100%;
        display: inline-block;
        padding: 24px;
        position: relative;
        height: 100px;
        width: 100px;
        text-align: center;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .book-box {
        background-color: $primary-red-color;
      }
      .globe-box {
        background-color: $primary-orange-color;
      }
      .instructor-box {
        background-color: $primary-green-color;
      }
    }
  }
}

#popular-categories {
  .popular-categories-title {
    padding: 72px 0px 40px;
    h2 {
      font-family: $secondary-font-family;
    }
    p {
      color: $primary-gray-color;
      margin-top: 15px;
    }
  }
  a {
    text-decoration: none;
    width: 175px !important;
    margin-right: 5px;
  }
  .popular-item {
    height: 120px;

    border-radius: 5px;

    .item-content {
      text-align: center;
      color: white;
      padding: 20px;
      margin: 8px;
      i {
        font-size: 30px;
        margin-bottom: 8px;
      }
      p {
        font-family: $secondary-font-family;
        font-size: $primary-font-size;
      }
    }
  }
}

.item1 {
  background-color: ($primary-red-color);
}
.item2 {
  background-color: darken($primary-green-color, 6);
}
.item3 {
  background-color: (#ffbc09);
}
.item4 {
  background-color: (#f94fa4);
}
.item5 {
  background-color: (#38ddf7);
}
.item6 {
  background-color: (#f89035);
}

#about-us {
  font-family: $secondary-font-family;

  .about-us-content {
    z-index: 2;
    // position: absolute;
    height: 393px;
    width: 100%;
    border-radius: 0px 200px 200px 0px;
    padding: 43px;
    // margin-right: -50px;
    background-color: white;
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.175) !important;

    h2 {
      font-weight: bold;
    }
    p {
      color: $primary-gray-color;
    }
    .counter {
      margin-top: 5px;
      font-family: $secondary-font-family;
      ul {
        li {
          padding-right: 20px;
          h6 {
            font-weight: bold;
            font-size: $primary-font-size;
            color: $secondary-black-color;
          }
        }
        li.list-item1 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-red-color;
          }
        }
        li.list-item2 {
          span {
            font-size: 40px;
            font-weight: bold;
            color: $primary-green-color;
          }
        }
      }
    }
  }
  .about-us-image {
    height: 100%;
    width: 100%;
    position: relative;

    .img-overlay {
      height: 100%;
      width: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.3;
      .play-circle {
        border-radius: 50%;
        background-color: $primary-orange-color;
        color: white;
        position: absolute;
        font-size: 53px;
        top: 45%;
        left: 47%;
      }
    }
  }
}

#our-courses {
  font-family: $secondary-font-family;

  .our-courses-title {
    margin-top: 80px;
    h2 {
      font-family: $secondary-font-family;
    }
    p {
      color: $primary-gray-color;
      margin-top: 15px;
    }
  }
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 22rem;
    margin-top: 30px;
    border-radius: 10px !important;
    // margin-top: 20px;
    .content-image {
      overflow: hidden;
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
      a {
        img {
          border-top-left-radius: 10px !important;
          border-top-right-radius: 10px !important;
          transition: all 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .card-body {
      padding: 12px 17px;
      a {
        font-weight: bold;
        font-size: 18px;
      }
      p {
        color: $primary-gray-color;
        font-size: $primary-font-size;
      }
    }
    .card-body-footer {
      padding: 0px 17px;
      justify-content: space-between;
      .review-stars {
        li {
          padding-right: 5px;
          i {
            color: $primary-orange-color;
            font-size: $course-icon-size;
          }
        }
      }
      .share-and-comment {
        float: right;
        li {
          padding-left: 12px;
          a {
            i {
              font-size: 14px;
            }
            span {
              font-size: 15px;
            }
          }
        }
      }
    }

    .card-footer {
      padding: 11px 18px 0px 18px;
      // background-color: white;
      background-color: rgba(0, 0, 0, 0.03) !important;
      justify-content: space-between;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;

      .teacher {
        align-items: center;
        li {
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
          }
        }
      }
      .course-price {
        .free-btn {
          height: 37px;
          width: 62px;
          text-decoration: none;
          cursor: unset;
          background-color: $free-button-color;
          border: 1px solid $free-border-color;
          border-radius: 0.25rem;
          color: #155724;
        }
        .price-btn {
          height: 37px;
          width: 59px;
          text-decoration: none;
          cursor: unset;
          background-color: $price-button-color;
          border: 1px solid $price-border-color;
          border-radius: 0.25rem;
          color: #155724;
        }
      }
    }
  }
  .btn-view-courses {
    align-items: center;
    margin-top: 30px;
    background-color: #ffbc09;
    .btn-view-content {
      margin: 5px 17px;
      span {
        color: white;
        font-size: 17px;
      }
      i {
        vertical-align: middle;
        font-size: 16px;
      }
    }

    color: white;
  }
}

#bottom-counter {
  background-image: url("../img/counter_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  .overlay{
    background-color: rgba(7, 41, 77, 0.70);
  }
  .item {
    margin: 90px 0px;
    color: white;
    h3 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.5;
    }
    span {
      color: white;
      font-family: $secondary-font-family;
    }
    .value {
      justify-content: center;
    }
    .key {
      font-size: 17px;
      font-family: $third-font-family;
    }
  }
}

a.animated {
  text-decoration: none;
  color: $secondary-black-color;
  transition: all 0.3s;
  &:hover {
    color: $primary-orange-color;
  }
}
